{% extends "base.html" %}

{% block content %}

    <div class="button-group mb-4">
        <a class="btn btn-primary" href="/posts/add_post" role="button">Создать пост</a>
        <a class="btn btn-primary" href="/tags/tag_processing" role="button">Теги</a>
    </div>

    {% for post in posts %}

        <h3><a href="/posts/show_post/{{ post.id }}">{{ post.title }}</a></h3>

        <a href="/posts/posts_by_tags/{{ post.tags.id }}" class="text-decoration-none">
            <span class="badge text-bg-secondary">{{ post.tags.name }}</span>
        </a>
        
    {% endfor %}
{% endblock %}